.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
www/node_modules/**
www/.next/**
www/app/**
www/components/**
www/hooks/**
www/lib/**
www/*.json
www/*.js
www/*.ts
www/*.mjs
www/*.md
